@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

/* shared style */
.sectional-para {
    font-size: 18px;
    font-weight: 500;
    color: #646b7bbd;
}
.common-link{
    text-decoration: none;
    color:#646b7b;
}
.every-link{
    text-decoration: none;
    color:#0D1321
}
.btn-primary{
    font-size: 18px;
    color: rgb(13, 19, 33);
    border-radius: 8px;
    padding: 17px 15px 17px 19px;
    background-color: transparent;
    margin: 50px 158px 0px 0
}
.btn-primary .every-link{
    .btn-primary
}
.dark-1{
    color: rgb(13, 19, 33);
}

/* navigation area */
span{
    color:#265dde
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 32px;
    font-weight: bolder;
    margin: 50px 0px 0 150px;
    color: #0D1321;
}

/* header area */

.main-header{
    margin-bottom: 69px;
    margin-top: 28px;
    width: 100%;
    height: 645px;
    background-image: url('../assets/Hero-bg.png');
}
.header-content{
    text-align: center;
}
.header-btn{
    background-color: #0D1321;
    margin-left: 150px;
}
.header-link{
    color:rgb(255, 255, 255);
    
    font-size: 20px;
}
.header-img{
    width: 274px;
    height: 280px;
    margin: 32px 0;
}
.header-title{
    font-size: 45px;
    margin-bottom: 36px;
    font-weight: bold;
}
.header-description{
    font-size: 20px;
    color: #646b7b;
    margin-top: 49px;
}

/* Main sectional area */

.main-section{
    text-align: center;
    width: 68%;
    height: 1517px;
    margin: 11px auto;
    padding: 80px;
    background-color: #FAFAFB;
    border-radius: 53px;
}
.sectional-header{
    font-size: 43px;
    font-weight: bolder;
    color: #0D1321;
    margin-bottom: 53px;
}
.sectional-para{
    font-size: 18px;
    font-weight: 500;
    color: #646b7bbd;
}
.left-items{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: -97px -29px 57px -61px #0000000f;
    padding: 61px;
    margin-bottom: 79px;
}
.left-contents{
    text-align: left;
    margin: 0 82px 0 0;
    width: 493px;
}
.sectional-para{
    margin-bottom: 90px;
}
.section-title{
    font-size: 24px;
    font-weight: bold;
    color: #0d1321a1;
    margin-bottom: 27px;
}
.section-description{
    font-size: 16px;
    color: #646b7b;
}
.right-content{
    margin-left: 45px;
}
.right-items {
    border-radius: 7px;
    box-shadow: 69px 16px 88px -53px #0000000f;
}

.section-link{
    font-size: 20px;
    font-weight: 600;
}
.sub-section{
    text-align: center;
    width: 80%;
    /* height: 1517px; */
    margin: 0px auto;
    padding: 80px;
}
.sub-title{
    font-size: 42px;
    font-weight: bolder;
    color:#0D1321;
    margin-bottom: 24px;
}
.sub-description{
    font-size: 17px;
    color: #47495ac4;
}
.sub-video{
    width: 1158px;
    height: 554px;
    border: 1px solid #80808070;
    border-radius: 16px;
    padding: 7px 0 5px 0;
    margin: 33px auto;
}
.sub-youtube{
    margin: 20px auto;
    border-radius: 16px;
}
.sub-content-header{
    width: 89%;
    margin: 0 auto;
}

/* Card sectional area */

.card-section{
    text-align: center;
    height: 760px;
}
.full-card-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 62px;
}
.card-contents {
    width: 61%;
    margin: 0 auto;
}
.card-title{
    font-size: 45px;
    font-weight: bolder;
    color: #0D1321;
    margin-bottom: 20px;
}
.card-para{
    font-size: 15px;
    font-weight: 500;
    color: #646b7bbd;
}
.card-items {
    text-align: left;
    border: 1px solid gray;
    border-radius: 22px;
    width: 18%;
    margin: 0 15px 0px 12px;
    padding: 44px 42px;
}
.logo-items {
    margin: 25px 0px 25px -10px;
}
.js-logo {
    margin: 27px 3px;
}
.h3.sub-card-title {
    font-size: 32px;
    font-weight: bolder;
    color: #0D1321;
}
.card-description {
    font-size: 14px;
    font-weight: 500;
    margin: 28px 0 30px 0;
    color: #646b7b9b;
}
.card-link{
    font-size: 20px;
    font-weight: bolder;
    color: #0D1321;
}
.card-items-1{
    background-color: #FFF6F4;
}
.card-items-2{
    background-color: #F2F6FE;
}
.card-items-3{
    background-color: #FFFDF2;
}

/* Footer sectional area */

.support-footer {
    width: 80%;
    padding: 100px 4px;
    text-align: center;
    margin: auto;
    margin-bottom: 58px;
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    border-radius: 16px;
}
.support-title{
    font-size: 32px;
    font-weight: 700;
    color: #ffff;
}
.support-description{
    font-size: 16px;
    color: #bec0c6;
    margin: 18px 0 42px 0;
}
.support-inputer {
    width: 37%;
    padding: 16px 35px 15px 12px;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    color: #dadeec75;
    background: #FFFFFF;
}
.input-btn {
    padding: 16px 19px 15px 19px;
    border-radius: 8px;
    border: none;
    color:#646b7b;
    font-size: 13px;
    font-weight: 600;
}

/* Main Footer sectional area */

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f982;
    padding: 20px;
}
.side-footer-title {
    margin-left: 150px;
    color: #0D1321;
    font-weight: 600;
}
.img-footer .side-footer-img {
    margin: 0 5px 0px 8px;
}
